# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

/testmybatis/target/*
testmybatis/pom.xml
testmybatis/.classpath
.gitignore
demo2/target/
testmybatis/mybatis.log

react-redux-ducks-master/node_modules/

ssm