<?xml version="1.0" encoding="UTF-8"?>
<!-- 本地服务，只提供给所在webapp使用，不能跨webapp调用，也不能发布成远程服务 -->
<services 
	datasource-key="train-pool-db"
	init-class="com.lysoft.business.demo.logic.init.ComponentInitializer"
	description="本地服务">
	
	<service
		key="index"
		name="index"
		description="入口index">		
		<service-invoker className="com.lysoft.business.demo.logic.service.IndexInvoker"/>	
	</service>
	<service
		key="desktop_service"
		name="桌面相关服务"
		description="桌面相关服务">		
		<service-invoker className="com.lysoft.business.demo.logic.service.DesktopInvoker"/>	
	</service>	
</services>